
html {
  font-size: 18px;
}

body {
  font-family: 'Dosis', sans-serif;
}

header {
  background: url(https://upload.wikimedia.org/wikipedia/commons/a/a4/Meghalaya_Abode_of_the_Clouds_India_Nature_in_Laitmawsiang_Landscape.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}

.halfs {
  display: flex;
  justify-content: space-between;
}

.milk {
  background: rgba(255, 255, 255, 0.5);
}

.half {
  width: 48%;
  min-height: 98vh;
  padding: 1rem;
}
